{% extends "../layout/base.html.twig" %}


{% block main %}

	<div
		class="flex h-screen bg-gray-100 w-full">

		<!-- sidebar -->
		<div class="hidden md:flex flex-col w-64 bg-gray-800">
			<div class="flex items-center justify-center h-16 bg-gray-900">
				<span class="text-white font-bold uppercase">Administrateur</span>
			</div>
			<div class="flex flex-col flex-1 overflow-y-auto">
				<nav class="flex-1 px-2 py-4 bg-gray-800">
					<a href="/" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
						<svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 6H5m2 3H5m2 3H5m2 3H5m2 3H5m11-1a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2M7 3h11a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Zm8 7a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
						</svg>

						Utilisateurs
					</a>
					<a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
						<svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"/>
						</svg>


						Ordinateurs
					</a>
					<a href="/logOut" class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
</svg>

						Déconnexion
					</a>
				</nav>
			</div>
		</div>

		<!-- Main content -->
		<div class="flex flex-col flex-1 overflow-y-auto">

			<div class="p-4">
				<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
					<div class="mb-1 w-full">
						<div class="mb-4">
							<nav class="flex mb-5" aria-label="Breadcrumb">
								<ol class="inline-flex items-center space-x-1 md:space-x-2">
									<li class="inline-flex items-center">
										<a href="#" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
											<svg class="w-5 h-5 mr-2.5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
											</svg>
											Accueil
										</a>
									</li>
									<li>
										<div class="flex items-center">
										<svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"/>
						</svg>
											<a href="#" class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Ordinateurs</a>
										</div>
									</li>
									<li>
										<div class="flex items-center">
											<svg class="w-6 h-6 text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
											</svg>
											<span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium" aria-current="page">Liste</span>
										</div>
									</li>
								</ol>
							</nav>
							<h1 class="text-xl sm:text-2xl font-semibold text-gray-900">Ordinateurs</h1>
						</div>
						<div class="sm:flex">
							<div class="hidden sm:flex items-center sm:divide-x sm:divide-gray-100 mb-3 sm:mb-0"></div>
							<div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
								<button type="button" data-modal-target="add-user-modal" class="open-modal-btn w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto">
									<svg class="-ml-1 mr-2 h-6 w-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
									</svg>
									Ajouter un ordinateur
								</button>

							</div>
						</div>
					</div>
				</div>
				<div class="flex flex-col">
					<div class="overflow-x-auto">
						<div class="align-middle inline-block min-w-full">
							<div class="shadow overflow-hidden">
								<table class="table-fixed min-w-full divide-y divide-gray-200">
									<thead class="bg-gray-100">
										<tr>
											<th scope="col" class="p-4 text-start ">Utilisateur</th>

											<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
												Id
											</th>
											<th scope="col" class="text-center p-4 text-left text-xs font-medium text-gray-500 uppercase">
												Adresse MAC
											</th>
											<th scope="col" class="text-center p-4 text-left text-xs font-medium text-gray-500 uppercase">
												Statut
											</th>

										</tr>
									</thead>


									{% if ordinateurs|length >0 %}
										{% for ordinateur in ordinateurs %}
											<tbody class="bg-white divide-y divide-gray-200">

												{% if mComputer.id == ordinateur.id %}
													<form action="/modifyComputer/{{mComputer.id}}" method="post">

														<tr
															class="hover:bg-gray-100">

															<!-- Champ modifiable pour le nom de famille de l'employé -->
															<td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
																<div class="text-sm font-normal text-gray-500">
																	<select name="freeUsers" class="text-base font-semibold text-gray-900 border border-gray-300 rounded-lg p-2">
																		{% if ordinateur.employe and ordinateur.employe.lastName %}
																			<!-- Ajouter une option par défaut avec le nom de l'employé associé -->
																			<option value="{{ ordinateur.employe.lastName }}" selected>
																				{{ ordinateur.employe.lastName }}
																			</option>
																		{% else %}
																			<option value="" selected>-- Sélectionnez un employé --</option>
																		{% endif %}

																		<!-- Ajouter les autres employés -->
																		{% for list in listEmploye %}
																			<option value="{{ list.lastName }}" {% if ordinateur.employe and list.lastName == ordinateur.employe.lastName %} selected {% endif %}>
																				{{ list.lastName }}
																			</option>
																		{% endfor %}
																	</select>
																</div>
															</td>

															<!-- Champ non modifiable pour l'ID de l'ordinateur -->
															<td class="text-center p-4 whitespace-nowrap text-base font-medium text-gray-900">
																{{ ordinateur.id }}
															</td>

															<!-- Champ non modifiable pour l'adresse MAC -->
															<td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">
																{{ ordinateur.macAdress }}
															</td>

															<!-- Champ modifiable pour l'état de fonctionnement de l'ordinateur (Working) -->
															<td class="p-4 whitespace-nowrap text-base font-normal text-gray-900">
																<div class="text-center flex items-center">
																	<input class="text-center" type="checkbox" class="h-5 w-5 border-gray-300 rounded" name="Working" {% if ordinateur.Working %} checked {% endif %}/>
																	<label class="ml-2 text-gray-900">En fonctionnement</label>
																</div>
															</td>

															<!-- Boutons de modification et suppression -->
															<td class="p-4 whitespace-nowrap space-x-2">
																<button type="submit" data-modal-toggle="user-modal" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
																	<svg class="mr-2 h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
																		<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
																	</svg>
																	Valider
																</button>
																<button data-id="{{ employe.id }}" value="{{ employe.id }}" type="button" data-modal-target="delete-user-modal" data-modal-toggle="delete-user-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
																	<svg class="mr-2 h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
																	</svg>
																	<a href="/computersList">Annuler</a>

																</button>
															</td>
														</tr>

													</form>
												{% else %}


													<tr class="hover:bg-gray-100">


														<td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0 ">
															<div class="text-sm font-normal text-gray-500 ">

																<div class="text-base font-semibold text-gray-900">{{ ordinateur.employe.lastName }}</div>

															</div>
														</td>

														<td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ordinateur.id}}</td>
														<td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ ordinateur.macAdress }}</td>


														<td class="p-4 whitespace-nowrap text-base font-normal text-gray-900">
															<div class="flex items-center">
																{% if ordinateur.Working == true %}
																	<div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div>
																{% else %}
																	<div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
																{% endif %}
															</div>
														</td>
														<td
															class="p-4 whitespace-nowrap space-x-2">
															<!-- Bouton Modifier -->
															<button type="button" data-modal-toggle="user-modal" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
																<svg class="mr-2 h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																	<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
																	<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
																</svg>
																<a href="/modifyComputer/{{ordinateur.id}}">Modifier</a>
															</button>

															<!-- Bouton Supprimer -->
															<button data-id="{{ ordinateur.id }}" value="{{ordinateur.id}}" type="button" data-modal-target="delete-user-modal" data-modal-toggle="delete-user-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
																<svg class="mr-2 h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																	<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
																</svg>
																Supprimer
															</button>

															<!-- Formulaire pour retirer l'utilisateur de l'ordinateur -->
															{% if ordinateur.employe.lastName %}
																<form action="/retirerUser/{{ordinateur.id}}" method="POST" class="inline-block">
																<button type="submit" class="text-white bg-orange-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
																	<svg class="mr-2 h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
																		<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
																	</svg>
																	Retirer utilisateur
																</button>
															</form>

															{% else %}
																
														
{% endif %}
														</td>

													{% endif %}

												</tr>
											</tbody>
										</tr>
									</tbody>
								</tr>
							{% endfor %}
						{% endif %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- Delete User Modal -->
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 flex justify-center items-center h-modal sm:h-full" id="delete-user-modal">
	<div
		class="relative w-full max-w-md px-4 h-auto">
		<!-- Modal content -->
		<div
			class="bg-white rounded-lg shadow relative">
			<!-- Modal header -->
			<div class="flex justify-end p-2">
				<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="delete-user-modal">
					<svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-6 pt-0 text-center">
				<svg class="w-20 h-20 text-red-600 mx-auto" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
				</svg>
				<h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">Êtes vous sur de vouloir supprimer cet ordinateur ?</h3>
				<a id="confirm-delete-btn" href="/deleteComputer/{{data-id.value}}" data-id="" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
					Oui, je suis sur
				</a>
				<a href="#" class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center" data-modal-toggle="delete-user-modal">
					Annuler
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Add User Modal -->
<div
	class="hidden fixed inset-0 z-50 flex items-center justify-center h-modal" id="add-user-modal">
	<!-- Overlay -->
	<div class="fixed inset-0 bg-black bg-opacity-50"></div>

	<!-- Modal -->
	<div
		class="relative w-full max-w-sm px-4">
		<!-- Modal content -->
		<div
			class="bg-white rounded-lg shadow relative">
			<!-- Modal header -->
			<div class="flex items-start justify-between p-4 border-b rounded-t">
				<h3 class="text-lg font-semibold">
					Ajouter un ordinateur
				</h3>
				<button data-modal-hide="add-user-modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
					<svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4">
				<form action="/addComputer" method="post">
					<div>
						<label for="macAdress" class="text-sm font-medium text-gray-900 block mb-2">Adresse Mac</label>
						<input type="text" name="macAdress" id="macAdress" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="255.55.10" required>
					</div>
					<!-- Modal footer -->
					<div class="mt-4 flex justify-end">
						<button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Ajouter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% block script %}
	<script src="assets/script/computerScript.js"></script>
{% endblock %}{% endblock %}
